<header class="flex justify-between items-center w-full">
    <div class="flex items-center gap-6">
        <button
            *ngIf="showGoBackButton"
            (click)="goBack.emit()"
            class="flex items-center gap-2 text-gray-600 hover:text-gray-900 transition-colors"
        >
            <img src="/svg/go-back.svg" alt="Go back" class="h-5 w-5" />
            <span class="font-medium text-lg">Go back</span>
        </button>
        <div>
            <h1 class="text-2xl font-bold text-gray-800">{{ title }}</h1>
            <p *ngIf="!showGoBackButton" class="text-gray-500">
                {{ subtitle }}
            </p>
        </div>
    </div>
    <div class="flex items-center gap-6">
        <!-- Upgrade Plan Section -->
        <div class="text-center" *ngIf="showUpgradePlan">
            <span class="bg-[#6982b5] text-white text-s px-10 py-1 rounded-lg">
                <span *ngIf="badgeText">{{ badgeText }}</span>
                <span *ngIf="!badgeText && !isWillCompleted">Free</span>
                <span *ngIf="!badgeText && isWillCompleted">Legacy+</span>
            </span>
            <a
                *ngIf="showUpgradeButton"
                href="#"
                class="block text-xs text-gray-600 underline mt-1 font-bold"
                >Upgrade Plan</a
            >
        </div>

        <!-- Notification Bell Section -->
        <div class="relative">
            <button
                (click)="toggleNotifications()"
                class="bg-gray-100 rounded-full h-10 w-10 flex items-center justify-center focus:outline-none"
            >
                <img
                    [src]="
                        hasUnreadNotifications
                            ? '/svg/notification-unread.svg'
                            : '/svg/notification-read.svg'
                    "
                    alt="Notifications"
                    class="h-6 w-6"
                />
            </button>
            <app-notification-dropdown
                *ngIf="showNotifications"
            ></app-notification-dropdown>
        </div>

        <!-- User Profile Section -->
        <div class="flex items-center gap-3">
            <img
                [src]="userAvatarUrl || '/svg/display-pic.svg'"
                alt="User Avatar"
                class="w-12 h-12 rounded-full object-cover"
            />
            <div>
                <p class="font-semibold text-gray-800">{{ userName }}</p>
                <p class="text-sm text-gray-500">{{ userEmail }}</p>
            </div>
        </div>
    </div>
</header>
