<header class="border-b border-border bg-background">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center">
            <a routerLink="/wiz/welcome" class="ml-6 text-3xl font-bold text-foreground">
                <img src="svg/easywill_logo.svg" alt="EasyWill Logo" class="w-32">
            </a>
            <div class="ml-4 rounded-md border border-border px-3 py-1 text-sm text-secondary flex gap-2 items-center">
                <img src="icons/icon_unverify.svg" alt="" srcset="">
                <span>Unverified</span>
            </div>
        </div>

        <!-- <button *ngIf="showSaveExitButton" mat-stroked-button color="primary" (click)="onSaveAndExit()">
            Save and Exit
        </button> -->
    </div>
</header>
