<div class="min-h-screen">
    <header class="container mx-auto px-4 py-6">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <a
                    routerLink="/wiz/welcome"
                    class="text-3xl font-bold text-foreground"
                >
                    <img
                        src="svg/easywill_logo.svg"
                        alt="EasyWill Logo"
                        class="w-32"
                    />
                </a>
                <div *ngIf="verified"
                     class="ml-4 rounded-md border border-border px-3 py-1 text-sm text-secondary flex gap-2 items-center"
                >
                    <img alt="" src="icons/icon_verify.svg" srcset=""/>
                    <span>Verified</span>
                </div>
                <div *ngIf="!verified"
                    class="ml-4 rounded-md border border-border px-3 py-1 text-sm text-secondary flex gap-2 items-center"
                >
                    <img src="icons/icon_unverify.svg" alt="" srcset="" />
                    <span>Unverified</span>
                </div>
            </div>

            <!-- User Profile Section for returning users -->
            <div *ngIf="hasStartedWill" class="flex items-center gap-3">
                <img
                    [src]="user.avatar"
                    alt="User Avatar"
                    class="w-12 h-12 rounded-full object-cover"
                />
                <div>
                    <p class="font-semibold text-gray-800">{{ user.name }}</p>
                    <p class="text-sm text-gray-500">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </header>

    <main class="container mx-auto px-24 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
            <div class="max-w-xl pt-16">
                <!-- New user welcome -->
                <ng-container *ngIf="!hasStartedWill">
                    <h2
                        class="text-6xl font-bold text-foreground font-DM_Serif text-easywills-black mb-4"
                    >
                        Welcome!
                    </h2>
                    <h3
                        class="text-6xl font-bold text-foreground font-DM_Serif text-easywills-black mb-6"
                    >
                        Let's get started
                    </h3>
                    <p class="text-foreground text-easywills-dark-grey text-lg">
                        We understand that planning for the future can be a
                        daunting task, but we're here to guide you through this
                        process with ease and clarity.
                    </p>
                </ng-container>

                <!-- Returning user welcome -->
                <ng-container *ngIf="hasStartedWill">
                    <h2
                        class="text-6xl font-semibold text-foreground font-DM_Serif text-easywills-black mb-4"
                    >
                        Continue from where you last stopped.
                    </h2>
                    <h3
                        class="text-2xl text-foreground font-DM_Serif text-easywills-black mb-2"
                    >
                        The Last Will and Testament of
                        <span class="font-bold">{{ user.name }}e.</span>
                    </h3>
                    <p
                        class="text-foreground text-easywills-dark-grey text-lg mb-4"
                    >
                        Last updated: <span class="font-bold">{{ willState.lastUpdatedTimeAgo }}</span>
                    </p>
                </ng-container>
            </div>
            <app-will-progress [hasStartedWill]="hasStartedWill"></app-will-progress>
        </div>
    </main>
    <!-- Footer -->
    <footer
        class="fixed bottom-0 left-0 right-0 bg-[#EFEFEF] border-t border-border py-4 px-4"
    >
        <div class="container mx-auto max-w-7xl flex justify-between">
            <!-- Go back button for returning users -->
            <button
                *ngIf="hasStartedWill"
                mat-stroked-button
                color="primary"
                (click)="goBack()"
            >
                <mat-icon>chevron_left</mat-icon>
                Go back
            </button>

            <!-- Placeholder for new users to maintain layout -->
            <div *ngIf="!hasStartedWill"></div>

            <!-- Get Started button for new users -->
            <button
                mat-flat-button
                color="primary"
                *ngIf="!hasStartedWill"
                (click)="onGetStarted()"
            >
                Get Started
            </button>
        </div>
    </footer>
</div>
