<div class="grid md:grid-cols-2 gap-8 items-center justify-center pt-20">
    <div>
        <p class="text-easywills-black mb-2">Step 1</p>
        <h1 class="text-4xl font-bold text-easywills-black mb-4 font-DM_Serif">
            Verify your Identity
        </h1>
        <p class="text-easywills-dark-grey mb-6">
            This is an easy two-step process.
        </p>
        <p class="text-easywills-dark-grey mb-2">
            Step 1: Upload your photo ID
        </p>
        <p class="text-easywills-dark-grey mb-6">
            Step 2: Verify ID with a selfie in real time
        </p>
        <div
            class="inline-block bg-easywills-blue text-white px-4 py-2 rounded-md text-sm"
        >
            Takes about 2 minutes to complete
        </div>
    </div>

    <div class="flex justify-center">
        <div class="relative w-64 h-80">
            <img src="svg/verify-id.svg" alt="ID Card illustration" class="" />
        </div>
    </div>
</div>
