<div class="min-h-screen">
    <app-header></app-header>

    <main class="container mx-auto px-4 py-8 pt-16">
        <div class="max-w-3xl mx-auto">
            <ng-container [ngSwitch]="step">
                <app-intro-screen *ngSwitchCase="0" (next)="handleNext()"></app-intro-screen>
                <!-- <app-executors-form *ngSwitchCase="1" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-executors-form> -->

               <!--  <app-witnesses-form *ngSwitchCase="2" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-witnesses-form> -->
            </ng-container>
        </div>
    </main>

    <app-footer [step]="step" [isNextDisabled]="!isFormValid" (back)="handleBack()" (next)="handleNext()">
    </app-footer>
</div>


