<div>
    <h2 class="text-4xl font-bold text-easywills-black font-DM_Serif mb-8">
        Tell us about you.
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
            <label class="flex items-center mb-2 text-easywills-black">
                What is your date of birth?
            </label>
            <mat-form-field appearance="outline" class="w-full">
                <!-- <mat-label>What is your date of birth?</mat-label> -->
                <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="MM/DD/YYYY"
                    formControlName="dateOfBirth"
                    [max]="maxDate"
                />
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                    *ngIf="form.get('dateOfBirth')?.hasError('required')"
                >
                    Date of birth is required
                </mat-error>
                <mat-error
                    *ngIf="form.get('dateOfBirth')?.hasError('futureDate')"
                >
                    Date of birth cannot be in the future
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <label class="flex items-center mb-2 text-easywills-black">
                What is your state of origin?
            </label>
            <mat-form-field appearance="outline" class="w-full">
                <mat-select
                    formControlName="stateOfOrigin"
                    placeholder="Please Select"
                >
                    <mat-option
                        *ngFor="let state of states"
                        [value]="state.value"
                    >
                        {{ state.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="form.get('stateOfOrigin')?.hasError('required')"
                >
                    State of origin is required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Help Box Component -->
        <app-wizard-help-box [faqs]="helpFAQs"></app-wizard-help-box>
    </form>
</div>
