<div class="flex flex-col min-h-screen">
  <main class="flex-1 container mx-auto px-4 py-12 max-w-4xl">
    <h1 class="text-4xl font-bold text-center mb-2 text-black">Terms of Service</h1>
    <p class="text-center text-gray-600 mb-24">Effective date: October 3, 2023</p>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 text-black">Introduction</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet consectetur. Quam volutpat condimentum ipsum fusce feugiat fringilla tincidunt
        massa pellentesque. Amet in amet.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 text-black">Content</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet consectetur. Id nibh eget risus nullam dui non porttitor pharelius adipiscing.
        Leo erat enim elementum iaculis in gravida sed dui sit. Sit ipsum a urna malesuada eu sagittis urna. Duis eu
        euismod commodo ullamcorper amet. Consectetur cursus facilisis.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 text-black">User conduct</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet consectetur. Est tincidunt consectetur in turpis orci eget vitae malesuada mi.
        Netus eget congue eu mauris nunc pharetra rhoncus magna vitae. Odio turpis risus mattis pretium tincidunt
        turpis sem egestas elit. Blandit augue feoreet libero metus sit.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 text-black">Intellectual property</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet consectetur. Nulla scelerisque nulla mi pretium vitae proin non mollis nisl.
        Augue dignissim risus hendrerit et. Ut ultrices tristique tempor posuere vitae egestas pellentesque
        scelerisque. Ac mattis massa pellentesque sagittis sollicitudin. Lorem facilisis lectus felis sollicitudin.
        Amet vitae posuere viverra eu. Ut facilisis et gravida suspendisse. Id at aliquet et et aliquet. Viverra
        diam eleifend morbi bibendum.
        <br />
        <br />
        Venenatis odio id neque consequat vel et malesuada vulputate ipius. Gravida pretium in velit nibh. Amet
        integer arcu arcu scelerisque leo viverra. Suspendisse nunc neque sollicitudin sed id.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 text-black">Indemnification</h2>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet consectetur. Ultricies hendrerit facilisis auctor placerat est fames. In risus
        facilisi egestas amet non etiam. Aenean volutpat in urna euismod ut malesuada id nunc enim. Risus viverra
        locus proin in diam elit sed. Integer et vitae eget enim. Id molestie malesuada neque morbi velit amet massa
        pretium. In dignissim semper purus turpis massa pharelius urna molestie donec. Semper venenatis pellentesque
        massa risus nec. Volutpat molestie tincidunt vivamus nibh vulputate vestibulum ipsum nibh aliquet. Feugiat
        pretium in aliquet mattis. Sit nibh rutrum risus vitae turpis bibendum sed accumsan. Suspendisse vel
        tincidunt turpis diam commodo felis facilisis eleifend eu. Fames eros sed fermentum blandit justo.
      </p>
    </section>
  </main>
</div>