.router-link-active {
    color: #6982b5;
}

/* Ensure consistent container behavior */
.container {
    width: 100%;
    max-width: 1280px; /* This matches max-w-7xl */
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; /* No padding */
    padding-right: 0; /* No padding */
}

@media (min-width: 640px) {
    .container {
        padding-left: 0; /* No padding */
        padding-right: 0; /* No padding */
    }
}
