<div class="flex flex-col min-h-screen">
  <main class="flex-1 container mx-auto px-4 py-12 max-w-4xl">
    <h1 class="text-4xl font-bold text-center mb-2 text-black"> Cookies Policy </h1>
    <p class="text-center text-gray-600 mb-8"> Updated: September 28, 2025</p>
   <p class="text-gray-600 mb-10">
        This Cookies Policy explains what Cookies are and how We use them. You should read this policy so you
can understand what type of cookies We use, or the information We collect using Cookies and how that
information is used.  <br><br>
Cookies do not typically contain any information that personally identifies a user, but personal information
that we store about You may be linked to the information stored in and obtained from Cookies. <br><br>
We do not store sensitive personal information, such as mailing addresses, account passwords, etc. in the
Cookies We use.
      </p>


    <section class="mb-5">
      <h2 class="text-2xl font-semibold mb-1 text-black">Interpretation and Definitions</h2>
    </section>

    <section class="mb-10">
      <h3 class="text-xl font-semibold mb-1 text-black">Interpretation</h3>
      <p class="mb-8">The words of which the initial letter is capitalized have meanings defined under the following conditions.
The following definitions shall have the same meaning regardless of whether they appear in singular or in
plural.</p>

      <h3 class="text-xl font-semibold mb-1 text-black">Definitions</h3>
      <p>For the purposes of this Cookies Policy:</p>
      <ul class="list-disc pl-12 space-y-1">
        <li><strong>Company</strong> (referred to as either "the Company", "We", "Us" or "Our" in this Cookies Policy) refers to Your Company Name, Address.</li>
        <li><strong>Cookies</strong> means small files that are placed on Your computer, mobile device or any other device by a website, containing details of your browsing history on that website among its many uses.</li>
        <li><strong>You</strong> means the individual accessing or using the Website, or a company, or other legal entity on behalf of which such individual is accessing or using the Website, as applicable.</li>
      </ul> 
    </section>


    

    

    
  </main>
</div>
