<div class="bg-white rounded-lg shadow-sm min-h-[80vh]">
    <div class="flex flex-row min-h-[80vh]">
        <aside class="w-1/5 p-4">
            <nav>
                <ul>
                    <li *ngFor="let item of navItems" class="mb-1">
                        <a
                            [routerLink]="item.link"
                            routerLinkActive="font-semibold text-gray-900"
                            [routerLinkActiveOptions]="{
                                exact: item.link !== 'subscription'
                            }"
                            class="block w-full text-left px-4 py-2.5 rounded-md text-gray-600 hover:bg-gray-100"
                            [style.background-color]="
                                isActiveLink(item.link) ? '#e5e5e5' : ''
                            "
                        >
                            {{ item.label }}
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- Vertical separator line -->
        <div class="w-px min-h-full" style="background-color: #dedede"></div>

        <div class="w-4/5 p-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
