<div class="grid md:grid-cols-2 gap-8 items-center justify-center pt-14">
    <div>
        <p class="text-easywills-black mb-2">Step 3</p>
        <h1 class="text-4xl font-bold text-easywills-black mb-4 font-DM_Serif">Distribute your estate</h1>
        <p class="text-easywills-dark-grey mb-6">How you wish to share your legacy with your loved ones</p>
        <div class="inline-block bg-easywills-blue text-white px-4 py-2 rounded-md text-sm">
            Takes about 6minutes to complete
        </div>
    </div>

    <div class="flex justify-center">
        <div class="relative">
            <img src="svg/estate_dis_avatar.svg" alt="ID Card illustration" class="">
        </div>
    </div>
</div>
