<div class="flex min-h-screen font-sans bg-[#f7f7f7]">
    <app-sidebar></app-sidebar>
    <main class="flex-1 p-8">
      <app-header-widget
        [userName]="currentUser.name"
        [userEmail]="currentUser.email"
        [userAvatarUrl]="currentUser.avatar"
        [isWillCompleted]="isWillCompleted"
      >
      </app-header-widget>
    
      <!-- Main content area for other dashboard widgets will go here -->
      <div class="mt-8">
        <!-- Example: <app-your-will-widget></app-your-will-widget> -->
      </div>
    </main>
    </div>
    