<div class="flex h-screen bg-gray-50">
    <app-sidebar></app-sidebar>
    <main class="flex-1 overflow-y-auto">
        <div class="p-8">
            <div
                class="bg-white rounded-lg shadow-sm p-6 mb-6"
                *ngIf="!hideHeader"
            >
                <app-header-widget
                    [title]="headerTitle"
                    [subtitle]="headerSubtitle"
                    [userName]="userName"
                    [userEmail]="userEmail"
                    [userAvatarUrl]="userAvatarUrl"
                    [isWillCompleted]="isWillCompleted"
                    [hasUnreadNotifications]="hasUnreadNotifications"
                    [showGoBackButton]="
                        isUploadingInChild || isViewingAllInChild
                    "
                    [showUpgradePlan]="showUpgradePlan"
                    [showUpgradeButton]="showUpgradeButton"
                    [badgeText]="badgeText"
                    [plan]="plan"
                    (goBack)="onGoBack()"
                ></app-header-widget>
            </div>
            <router-outlet
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate()"
            ></router-outlet>
        </div>
    </main>
</div>
