<div class="min-h-screen">
    <app-header></app-header>

    <main class="container mx-auto px-4 py-8 pt-16">
        <div class="max-w-3xl mx-auto">
            <ng-container [ngSwitch]="step">
                <app-intro-screen *ngSwitchCase="0" (next)="handleNext()"></app-intro-screen>

                <app-basic-info-form *ngSwitchCase="1" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-basic-info-form>

                <app-birth-info-form *ngSwitchCase="2" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-birth-info-form>

                <app-address-info-form *ngSwitchCase="3" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-address-info-form>

                <app-marital-status-form *ngSwitchCase="4" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-marital-status-form>

                <app-children-form *ngSwitchCase="5" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-children-form>

                <app-beneficiaries-form *ngSwitchCase="6" [data]="data" (updateData)="updateData($event)"
                    (next)="handleNext()" (setFormValidity)="setFormValidity($event)">
                </app-beneficiaries-form>

            </ng-container>
        </div>
    </main>

    <app-footer [step]="step" [isNextDisabled]="!isFormValid" (back)="handleBack()" (next)="handleNext()">
    </app-footer>
</div>
