<div class="grid md:grid-cols-2 gap-8 items-center justify-center pt-14">
    <div>
        <p class="text-easywills-black mb-2">Step 4</p>
        <h1 class="text-4xl font-bold text-easywills-black mb-4 font-DM_Serif">Executor(s) & Witnesses</h1>
        <p class="text-easywills-dark-grey mb-6">Carefully review your will to ensure it reflects your wishes. Once confirmed, you’ll be ready to finalize it.</p>
        <div class="inline-block bg-easywills-blue text-white px-4 py-2 rounded-md text-sm">
            Takes about 5 minutes to complete
        </div>
    </div>

    <div class="flex justify-center">
        <div class="relative">
            <img src="svg/exec_witness_avatar.svg" alt="ID Card illustration" class="">
        </div>
    </div>
</div>

