<div class="container mx-auto px-4 py-12">
  <h1 class="text-4xl text-center text-[#32302f] mb-2">Privacy Policy</h1>
  <p class="text-[#505050] text-center mb-16">Last Updated: March 2025  </p>

  <div class="grid grid-cols-1 md:grid-cols-12 gap-16">
    <aside class="md:col-span-5 lg:col-span-5 pr-4">
      <div class="sticky top-8 w-full">
        <h2 class="text-lg font-medium mb-4">Table of contents</h2>
        <nav class="flex flex-col space-y-2">
          <button
            (click)="scrollToSection('introduction')"
            [ngClass]="{
              'text-left py-2 rounded-md font-medium w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'introduction',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'introduction'
            }"
          >
            1. Introduction
          </button>
          
          <button
            (click)="scrollToSection('information-collection')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'information-collection',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'information-collection'
            }"
          >
            2. Information We Collect
          </button>
          
          <button
            (click)="scrollToSection('information-use')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'information-use',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'information-use'
            }"
          >
            3. How We Use Your Information
          </button>
          
          <button
            (click)="scrollToSection('data-storage')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'data-storage',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'data-storage'
            }"
          >
            4. Data storage and security
          </button>

          <button
            (click)="scrollToSection('information-sharing')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'information-sharing',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'information-sharing'
            }"
          >
            5. Sharing of Information
          </button>

          <button
            (click)="scrollToSection('access-control')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'access-control',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'access-control'
            }"
          >
            6. User Rights
          </button>

          <button
            (click)="scrollToSection('cookies-and-tracking')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'cookies-and-tracking',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'cookies-and-tracking'
            }"
          >
            7. Cookies and Tracking Technologies
          </button>

          <button
            (click)="scrollToSection('ndpr-compliance')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'ndpr-compliance',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'ndpr-compliance'
            }"
          >
            8. Compliance with the Nigeria Data Protection Regulation (NDPR)
          </button>
          <button
            (click)="scrollToSection('contact-us')"
            [ngClass]="{
              'text-left py-2 rounded-md w-full': true,
              'bg-[#efefef] text-[#505050]': activeSection === 'contact-us',
              'text-[#505050] hover:bg-gray-100': activeSection !== 'contact-us'
            }"
          >
            9. Contact us
          </button>
        </nav>
      </div>
    </aside>

    <div class="md:col-span-7 lg:col-span-7 space-y-12">
      <section id="introduction">
        <h2 class="text-3xl strong text-[#32302f] mb-1">1. Introduction</h2>
        <p class="text-[#505050] pl-6 mb-1">
          easyWills is committed to protecting your privacy. 
          This Privacy Policy explains how we collect, use, store, and protect your personal data when you use our platform. By using easyWills, 
          you consent to the collection and processing of your personal information as described in this policy.
        </p>
      </section>

      <section id="information-collection">
        <h2 class="text-3xl strong text-[#32302f] mb-1">2. Information We Collect</h2>
        <p class="text-[#505050] pl-6 mb-1">
          We may collect the following types of personal information:
        </p>
         <ul class="list-disc pl-12 space-y-1">
          <li>Personal Identifiable Information (PII): Name, email address, phone number, date of birth, and contact details.</li>
          <li>Estate and Will Related Information: Details about assets, beneficiaries, executors, and any other information inputted into the will writing wizard.</li>
          <li>Financial Information: Payment details (processed securely by third party payment providers).</li>
          <li>Usage Data: IP address, device information, browser type, and interaction history with our platform.</li>
          <li>Video and Electronic Signature Data: Video recordings of will execution sessions and digital signature logs.</li>
         </ul>
      </section>
      
      <section id="information-use">
        <h3 class="text-3xl strong text-[#32302f] mb-1">3. How We Use Your Information</h3>
        <p class="text-[#505050] pl-6 mb-1">
          We use your information to:
        </p>
          <ul class="list-disc pl-12 space-y-1">
            <li>Facilitate creation, execution, and secure storage of your Will.</li>
            <li>Verify user identity and ensure legal compliance.</li>
            <li>Provide customer support and respond to inquiries.</li>
            <li>Improve platform security and user experience.</li>
            <li>Process transactions and manage billing.</li>
            <li>Comply with legal obligations and regulatory requirements.</li>
          </ul>
      </section>

      <section id="data-storage">
        <h2 class="text-3xl strong text-[#32302f] mb-1">4. Data storage and security</h2>
        <p class="text-[#505050] pl-6 mb-1">
          We implement strict security measures to protect user data, including:
        </p>
        <ul class="list-disc pl-12 space-y-1 mb-3">
          <li>Encryption of sensitive information.</li>
          <li>Secure cloud based storage for digital wills and execution records.</li>
          <li>Restricted access to authorized personnel only.</li>
          <li>Regular security audits and updates.</li>
        </ul>
        <p class="pl-6">Your data is stored for as long as necessary to provide our services or as required by law. Upon request, we can delete your personal data, except where retention is legally required.</p>
      </section>

      <section id="information-sharing">
        <h2 class="text-3xl strong text-[#32302f] mb-1">5. Sharing of Information</h2>
        <p class="text-[#505050] pl-6 mb-1">We do not sell or rent personal data. However, we may share information:</p>
        <ul class="list-disc pl-12 space-y-1">
          <li>With authorized legal professionals for consultation (only with user consent).</li>
          <li>With third party service providers for payment processing, authentication, and data storage.</li>
          <li>If required by law or in response to legal proceedings.</li>
        </ul>
      </section>

      <section id="access-control">
        <h3 class="text-3xl strong text-[#32302f] mb-1">6. User Rights </h3>
        <p class="text-[#505050] pl-6 mb-1">Users have the right to:</p>
        <ul class="list-disc pl-12 space-y-1">
          <li>Access and review personal data collected by easyWills.</li>
          <li>Request corrections to inaccurate information.</li>
          <li>Withdraw consent for data processing (this may limit service functionality).</li>
          <li>Request deletion of personal data, subject to legal limitations.</li>
        </ul>
      </section>

      <section id="cookies-and-tracking">
        <h3 class="text-3xl strong text-[#32302f] mb-1">7. Cookies and Tracking Technologies </h3>
        <p class="pl-6">We use cookies to enhance user experience and analyze site traffic. Users can manage cookie preferences through their browser settings.</p>
      </section>

      <section id="ndpr-compliance">
        <h3 class="text-3xl strong text-[#32302f] mb-1">8. Compliance with the Nigeria Data Protection Regulation (NDPR)</h3>
        <p class="text-[#505050] pl-6 mb-1">We comply with the NDPR and adhere to its principles of:</p>
        <ul class="list-disc pl-12 space-y-1">
          <li>Lawfulness, fairness, and transparency in data processing.</li>
          <li>Data minimization and accuracy.</li>
          <li>Security and confidentiality of personal information.</li>
        </ul>
      </section>

      <section id="contact-us">
        <h2 class="text-3xl strong text-[#32302f] mb-1">9. Contact Information</h2>
        <p class="text-[#505050] pl-6 mb-1">For privacy related inquiries or data access requests, contact us at 
          <a href="mailto:admin@lawgrid.ng" class="text-blue-600 underline">admin&#64;lawgrid.ng</a>
        </p>
        <p class="text-[#505050] pl-6 mb-1">By using easyWills, you acknowledge and consent to the terms outlined in this Privacy Policy.</p>
      </section>
    </div>
  </div>
</div>