<footer class="bg-gray-100 h-80 w-full">
    <div class="container mx-auto px-4 py-2 sm:px-6 lg:px-8">
        <div class="flex flex-col bottom-12">
            <p class="text-center text-base/7 text-black">
                © 2023 Easy Wills. All rights reserved.
            </p>
        </div>
        <!-- <div class="flex flex-col items-center justify-center">
            <p class="text-center text-base/7 text-black">
                    <a href="https://www.facebook.com/easywills" target="_blank" class="text-black" rel="noreferrer"></a>
            </p>
        </div> -->
        </div>
</footer>
