<div>
    <div class="flex items-center mb-4">
        <h2 class="text-4xl font-bold text-easywills-black font-DM_Serif">
            Assign Your Witnesses
        </h2>
    </div>

    <p class="text-easywills-dark-grey mb-6">
        You are required to sign your Will in the presence of two witnesses
    </p>

    <form (ngSubmit)="onSubmit()" class="space-y-6">
        <!-- Display existing witnesses -->
        <div
            *ngFor="let witness of witnesses"
            class="bg-white border border-[#e0e0e0] rounded-lg p-4 mb-4"
        >
            <div class="flex justify-between items-start">
                <div class="witness-details">
                    <h4 class="font-medium text-easywills-black text-base mb-1">
                        {{ witness.firstName | titlecase }}
                        {{ witness.lastName | titlecase }}
                    </h4>
                    <p class="text-easywills-dark-grey text-sm mb-1">
                        {{ witness.email }}
                    </p>
                    <p class="text-easywills-dark-grey text-sm mb-1">
                        {{ witness.phoneNumber }}
                    </p>
                    <p class="text-easywills-dark-grey text-sm">
                        {{ witness.relationship }}
                    </p>
                </div>
                <div class="flex">
                    <button
                        type="button"
                        mat-icon-button
                        (click)="handleEditWitness(witness)"
                        class="text-foreground"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        type="button"
                        mat-icon-button
                        (click)="removeWitness(witness)"
                        class="text-foreground"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="isAddingWitness" class="space-y-4">
            <h3 class="text-2xl font-semibold font-DM_Serif mb-4">
                {{ editingWitnessId ? "Edit Witness" : "Add Witness" }}
            </h3>

            <form [formGroup]="witnessForm" class="space-y-4">
                <div>
                    <label class="block mb-2"
                        >What is the name of the individual?</label
                    >
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <mat-form-field appearance="outline">
                            <input
                                matInput
                                formControlName="firstName"
                                placeholder="First name"
                            />
                            <mat-error
                                *ngIf="
                                    witnessForm
                                        .get('firstName')
                                        ?.hasError('required')
                                "
                            >
                                First name is required
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    witnessForm
                                        .get('firstName')
                                        ?.hasError('minlength')
                                "
                            >
                                First name must be at least 2 characters
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <input
                                matInput
                                formControlName="lastName"
                                placeholder="Last name"
                            />
                            <mat-error
                                *ngIf="
                                    witnessForm
                                        .get('lastName')
                                        ?.hasError('required')
                                "
                            >
                                Last name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <div>
                    <label class="block mb-2"
                        >What is their email address?</label
                    >
                    <mat-form-field appearance="outline" class="w-full">
                        <input
                            matInput
                            type="email"
                            formControlName="email"
                            placeholder="Enter email"
                        />
                        <mat-error
                            *ngIf="
                                witnessForm.get('email')?.hasError('required')
                            "
                        >
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="witnessForm.get('email')?.hasError('email')"
                        >
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <br />
                <div>
                    <label class="block mb-2"
                        >What is their Phone number?</label
                    >
                    <mat-form-field appearance="outline" class="w-full">
                        <input
                            matInput
                            type="text"
                            formControlName="phoneNumber"
                            placeholder="Enter phone number"
                        />
                        <mat-error
                            *ngIf="
                                witnessForm
                                    .get('phoneNumber')
                                    ?.hasError('required')
                            "
                        >
                            Phone number is required
                        </mat-error>
                        <mat-error
                            *ngIf="
                                witnessForm
                                    .get('phoneNumber')
                                    ?.hasError('pattern')
                            "
                        >
                            Please enter a valid 10-digit phone number
                        </mat-error>
                    </mat-form-field>
                </div>
                <br />
                <div>
                    <label class="block mb-2">What is your relationship?</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-select
                            formControlName="relationship"
                            placeholder="Select relationship"
                        >
                            <mat-option
                                *ngFor="let option of relationshipOptions"
                                [value]="option.value"
                            >
                                {{ option.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="
                                witnessForm
                                    .get('relationship')
                                    ?.hasError('required')
                            "
                        >
                            Relationship is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <br />
                <button
                    type="button"
                    mat-flat-button
                    color="primary"
                    (click)="handleSaveWitness()"
                    class="w-full mb-8"
                >
                    {{ editingWitnessId ? "Update Witness" : "Add Witness" }}
                </button>
            </form>
        </div>

        <button
            *ngIf="!isAddingWitness"
            type="button"
            mat-flat-button
            color="primary"
            (click)="handleAddWitness()"
            class="w-full flex items-center justify-center mb-8"
        >
            <mat-icon class="mr-2">add</mat-icon>
            Add Witness
        </button>

        <div class="fixed bottom-24 right-8 z-50">
            <div
                class="flex items-center border border-foreground rounded-md px-4 py-2 bg-white shadow-lg"
            >
                <span class="mr-2">Need help?</span>
                <mat-icon>question_answer</mat-icon>
            </div>
        </div>
    </form>
</div>
