<footer class="fixed bottom-0 left-0 right-0 bg-[#EFEFEF] border-t border-border py-4 px-4">
    <div class="container mx-auto max-w-7xl flex justify-between">
        <button mat-stroked-button color="primary" (click)="onBack()">
            <mat-icon>chevron_left</mat-icon>
            Go back
        </button>

        <!-- to check the effect later -->
        <!-- <button *ngIf="step > 0" mat-flat-button color="primary" (click)="onNext()" [disabled]="isNextDisabled">
            Next
        </button> -->

        <button mat-flat-button color="primary" (click)="onNext()" [disabled]="isNextDisabled">
            Next
        </button>
    </div>
</footer>
