// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./app/themes/material-theme.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

:root {
    @include mat.button-overrides(
        (
            filled-container-shape: 0.3125rem,
            outlined-container-shape: 0.3125rem,
        )
    );
    @include mat.form-field-overrides(
        (
            outlined-container-shape: 0.75rem,
            outlined-outline-color: #dedede,
            container-height: 1rem,
            container-vertical-padding: 0.8rem,
            outlined-input-text-placeholder-color: var(
                    --Placeholder-text,
                    #8a8989
                ),
            outlined-input-text-color: var(--Input-text, #444),
        )
    );

    @include mat.card-overrides(
        (
            elevated-container-color: var(--easywills-dark-grey, #737373),
        )
    );

    @include mat.select-overrides(
        (
            panel-background-color: white,
        )
    );

    .field mat-form-field {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .field label {
        display: block;
        margin-bottom: 0.4rem;
        color: #655d5d;
        font-family: Poppins;
        font-size: 0.9rem;
    }

    .mdc-text-field {
        background-color: #fdfdfd !important;
        border-radius: 14px !important;
    }

    // Mat-select placeholder styling to match mat-input
    .mat-mdc-select-placeholder {
        color: var(--Placeholder-text, #8a8989) !important;
    }

    .mat-mdc-select-value-text {
        color: var(--Input-text, #444) !important;
    }
}

// Toast Notification

@mixin snackbar-theme($bg-color, $text-color, $button-color) {
    --mdc-snackbar-container-color: #{$bg-color};
    --mdc-snackbar-supporting-text-color: #{$text-color};
    --mat-snack-bar-button-color: #{$button-color};

    .mdc-snackbar__surface {
        background-color: $bg-color !important;
    }

    .mdc-snackbar__label {
        color: $text-color !important;
    }

    .mat-mdc-button {
        color: $button-color !important;
    }
}

.notification-error,
.bg-danger {
    @include snackbar-theme(#f44336, #fff, #fff);
}

.notification-warning {
    @include snackbar-theme(#ff9800, #000, #000);
}

.notification-success,
.bg-success {
    @include snackbar-theme(#4caf50, #fff, #fff);
}
