<div class="grid md:grid-cols-2 gap-8 items-center mt-20">
    <div>
        <p class="text-easywills-black mb-2">Step 2</p>
        <h1 class="text-4xl font-bold text-easywills-black mb-4 font-DM_Serif">List your assets</h1>
        <p class="text-easywills-dark-grey mb-6">List all your assets and properties to ensure your legacy is distributed according to your wishes.</p>
        <div class="inline-block bg-easywills-blue text-white px-4 py-2 rounded-md text-sm">
            Takes about 5-10 minutes to complete
        </div>
    </div>

    <div class="flex justify-center">
        <div class="relative">
            <img src="svg/assets_inventory_avatar.svg" alt="Assets illustration" class="transform">
        </div>
    </div>
</div>
