<div>
    <div class="flex items-center mb-4">
        <h2 class="text-4xl font-bold text-easywills-black font-DM_Serif">
            List all your assets
        </h2>
        <mat-icon class="ml-2">info_outline</mat-icon>
    </div>

    <p class="text-easywills-dark-grey mb-6">
        Click on one of the asset types to list an asset.
    </p>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        <div
            *ngFor="let assetType of assetTypes"
            class="p-6 cursor-pointer hover:shadow-md transition-shadow relative rounded-lg border border-[#b7b7b7] border-border bg-easywills-white"
            [class.border-secondary]="assetType.completed"
            (click)="handleAssetTypeClick(assetType.id)"
        >
            <div
                *ngIf="assetType.count > 0"
                class="absolute top-2 right-2 bg-[#444444] text-white rounded-full w-8 h-8 flex items-center justify-center text-base font-medium"
            >
                {{ assetType.count }}
            </div>

            <div class="flex items-center justify-center flex-col">
                <img
                    class="mx-auto mb-2"
                    src="icons/{{ assetType.icon }}.svg"
                    alt="assets_icons"
                />

                <h3
                    class="font-normal text-sm text-center text-easywills-black"
                >
                    {{ assetType.name }}
                </h3>
            </div>
        </div>
    </div>

    <!-- Display added assets -->
    <div *ngIf="data.bankAccounts.length > 0" class="mt-8">
        <h3 class="text-xl font-bold text-foreground mb-4">Bank Accounts</h3>
        <div
            *ngFor="let account of data.bankAccounts"
            class="bg-white rounded-md border border-[#8e8e8e] p-4 mb-4 relative"
        >
            <div>
                <h3 class="text-lg font-medium text-easywills-black">
                    {{ account.accountType }}
                </h3>
                <p class="text-sm text-gray-600">
                    {{ account.institution }}
                </p>
                <p class="text-sm text-gray-600">
                    Account ending in {{ account.accountNumber }}
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="data.realEstateProperties.length > 0" class="mt-8">
        <h3 class="text-xl font-bold text-foreground mb-4">
            Real Estate Properties
        </h3>
        <div
            *ngFor="let property of data.realEstateProperties"
            class="bg-white rounded-md border border-[#8e8e8e] p-4 mb-4 relative"
        >
            <div>
                <h3 class="text-lg font-medium text-easywills-black">
                    {{ property.propertyType }} property
                </h3>
                <p class="text-sm text-gray-600">
                    {{ property.ownershipType }}
                </p>
                <p class="text-sm text-gray-600">{{ property.address }}</p>
            </div>
        </div>
    </div>

    <app-wizard-help-box [faqs]="helpFAQs"></app-wizard-help-box>
</div>
